openapi: 3.2.0
info:
  title: Offer Tool Admin - Maintenance API
  description: Api definitions for Offer Tool
  version: '1.0'
  contact: {}
tags:
- name: Admin - Maintenance
paths:
  /api/v1/admin/maintenance/backfill-config-hashes:
    post:
      description: Idempotent one-shot maintenance task. Queues a worker job that iterates over configs
        without a hash lookup row and inserts one using the runtime HashService. Progress and results
        are logged by the worker. Restricted to Superadmin.
      operationId: BackfillConfigHashesController_backfillConfigHashes_v1
      parameters:
      - name: batchSize
        required: false
        in: query
        description: Number of configs to process per batch
        schema:
          minimum: 1
          maximum: 5000
          default: 1000
          type: number
      responses:
        '200':
          description: Backfill queued for worker processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackfillConfigHashesResponseDto'
      summary: Backfill missing rows in config_hash_lookup
      tags:
      - Admin - Maintenance
components:
  schemas:
    BackfillConfigHashesResponseDto:
      type: object
      properties:
        queued:
          type: boolean
          description: Whether the backfill was queued for async processing on the worker
        batchSize:
          type: number
          description: Batch size the worker uses per iteration
      required:
      - queued
      - batchSize
servers:
- url: https://heartbeat.1komma5grad.com
  description: Base URL reconciled from apis.yml
